:root {
  --navbar-height: 65px; /* Altura de la navbar */
  --navbar-bg-color: rgba(9, 128, 202, 0.4); /* Color de fondo de la navbar */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #d39a9a;
}

/* Navbar fija */
.navbar { 
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  height: var(--navbar-height);
  background-color: rgba(9, 128, 202, 0.4); /* menos opaco */
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 4px rgba(198, 145, 145, 0.05);
  z-index: 1000;
  overflow: hidden;
}

/* Contenedor de navbar */
.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}

/* Logo */

 .logo img {
  height: 48px;
  width: auto;
  display: block;
}
.logo img {
  vertical-align: middle;
}
/* Enlaces navbar */
.nav-links {
  display: flex;
}

.nav-links a {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.2s ease;
}

/* Icono y texto del link */
.nav-links .icon {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

/* Responsive: ocultar texto < 640px */
@media (max-width: 639px) {
  .nav-links .link-text {
    display: none;
  }

  .nav-links a {
    justify-content: center;
    font-size: 1.25rem;
  }

  .nav-links .icon {
    margin: 0;
  }
}

/* Contenido principal */
.contenido {
  padding-top: var(--navbar-height);
  max-width: 800px;
  margin: auto;
  padding-left: 1rem;
  padding-right: 2rem;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #270a0a;
  padding: 1rem 0;
}
h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #270a0a;
  padding: 1rem 0;
}
/* Grid de tarjetas */
.tarjetas-grid {
  display: grid;
  gap: 5rem; /* pongo en 5 para que sea mas ancho*/
  margin-top: 2rem;
}

/* Tarjeta base */
.tarjeta {
  background-color: #f7f4f4;
  padding: 2rem;
  border-radius: 0.75rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  border: 1px solid #270a0a;
}


